# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/app/__pycache__/
backend/app/routers/__pycache__/auth.cpython-313.pyc
backend/app/dependencies/__pycache__
backend/app/routers/__pycache__

#Models
backend/app/models/__pycache__
#schemas
backend/app/schemas/__pycache__/
#utils
backend/app/utils/__pycache__/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.env.local
frontend/.env.development
frontend/.env.production

# General
.DS_Store
.vscode
.codex
.idea/
BranchIssue.md